a{
    text-decoration: none;
}
*{
    padding: 0%;
    margin: 0%;

}
::-webkit-scrollbar{
    display: none;
}
#navbar{
    height: 80px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
   
}
#nav1{
cursor: pointer;
margin-left: 20px;
margin-top: 2px;
cursor: pointer;
}
#nav1 div{
    margin-bottom: 2px;
    width: 15px;
    border: 1.5px solid white ;
}

#nav2{
cursor: pointer;
margin-top: 2px;

}

#nav3{
display: flex;
margin: auto;
justify-content: center;
margin-left: 1250px;

}
#host{
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 15px;
   padding-right:15px;
   padding-top: 8px;
   padding-bottom: 0px;
    display: flex;
    border-radius: 50px;
}
#login{
    cursor: pointer;
    margin-left: 50px;
    display: flex;
}
#user2{
    border: 1px solid white;
    background-color: white;
    margin-left: 20px;
    border-radius: 100%;
    margin-top:5px;
    height: 35px;
}
#main{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
#left_side{
width: 28%;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
height: 1100px;
padding: 10px;
}
#right_side{
    width: 60%;
    margin-left: 20px;
    height: auto;
   
}
#cards{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
gap: 20px;
margin-top: 20px;
}
#cards>div{
padding-left: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#cards>div>img{
    height: 60%;
    width: 100%;
    position: relative;
}
#rate{
background-color: green;
color: white;
width: 13%;
border-radius: 50px;
padding-left: 5px;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 15px;
}
#div2{
    display: flex;
    margin-top: 15px;
}
#div3{
    display: flex;
    margin-bottom: 30px;
    margin-top: 15px;
}
#kms{
    margin-left: 150px;
    padding-left: 100px
}
#cap,#trans{
    margin-left: 5px;
}
#search{
    height: 20px;
    width: 80%;
    border: 1px solid green;
    padding: 20px;
    border-radius: 6px;
}
#function{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px;
}
#sort{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    padding: 8px;
    padding-top: 12px;
    padding-bottom:12px ;
}
#sort img{
    height: 24px;
    width: 24px;
}
#car_type{
    display: flex;
    margin-top: 30px;
}
hr{
    color: rgb(253, 252, 252);
    margin-top: 25px;
}
#try{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
margin-left: 43px;
margin-top: 10px;
padding: 8px;
height: 20px;
}
input{
    outline: none;
    border: none transparent;
}
#try img{
    height: 30px;
    width: 30px;
}
#left_side p{
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(68, 67, 67);
}
#car_model{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px;
}
#seats,#fuel_type{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    gap: 10px;
    margin: 10px;
    width: 45%;
}
#trans_mission{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 10px;
}
#rat_ings{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 10px;
}

