#last{
    background-color: #666;
}
#india-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    color: white;
    margin-bottom: 24px;
}
#all-cities{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-row-gap: 24px;
    color: white;
    font-family: "IBM Plex Sans";
}
#country{
    display: grid;
    grid-template-columns: repeat(4,25%);
    color: white;
}
#country-name,#city-name{
    margin-top: 24px;
}