*{
    padding: 0%;
    margin: 0%;
    font-family: "IBM Plex Sans";
    text-align: center;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}

#changing{
    background-color: white;
    z-index: 60;
    height: auto;
    width: 25%;
    margin: auto;
    left:35% ;
    top: 22%;
    position: absolute;
    transition: 0.3;
    padding: 20px;
    border-radius: 5px;
    display: none;
}
#confirm{
    width: 70%;
    margin: auto;
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 70px;
}
#select1{
   
    border: 1px solid rgb(192, 190, 190);
    width: 70%;
    margin: auto;
    height: 50px;
padding: 5px;
margin-bottom: 30px;

}
#select2,#select{
    cursor: pointer;
}
select option{
    cursor: pointer;
}
select{
    border: none;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    
}
 #menu{
   background-color: white;
    z-index: 30;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 3px 0 8px 1px rgb(0 0 0 / 40%);
    display: block;
    width: 0%;
    max-width: 400px;
}
#menu_content{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}
#menu_content>div{
    margin-left: 10px;
}
#Ncr{
    color: red;
    padding-left: 120px;
    margin-top: 6px;
}

#menu_content img{
    width: 24px;
    height: 24px;
} 
#homepage{
    height: 100%;
    width: 100%;
    background-size: auto;
    z-index: 20;
    
}
#navbar{
    height: 80px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
   
}
#nav1{
cursor: pointer;
margin-left: 20px;
margin-top: 2px;
cursor: pointer;
}
#nav1 div{
    margin-bottom: 2px;
    width: 15px;
    border: 1.5px solid white ;
}

#nav2{
cursor: pointer;
margin-top: 2px;

}
#nav2>img{
    height:180px ;
    width: 220px;
}
#nav3{
display: flex;
margin: auto;
justify-content: center;
margin-left: 1150px;

}
#host{
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 15px;
   padding-right:15px;
   padding-top: 8px;
   padding-bottom: 8px;
    display: flex;
    border-radius: 50px;
}
#login{
    cursor: pointer;
    margin-left: 50px;
}
#perfect{
    height: 650px;
    position: relative;
    width: 100%;  
}
#perfect>img{
    height: 650px;
    width: 100%;
}
#per1{
    text-align: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    color:white;
    top: 35px;
    right: 20%;
     padding: 20px;
}
#per4{
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 25%;
    bottom: 290px;
    left: 38%;
    text-align: center;
    background-color: white;
    display: flex;
}
#round{
border: 1px solid red;
color: red;
width: 50%;
cursor: pointer;

}
#airport{
    width: 50%;
    cursor: pointer;

}

#per3{
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 25%;
    bottom: 220px;
    left: 38%;
    text-align: left;
    background-color: white;
    color: rgb(139, 139, 139);
    cursor: pointer;

}
#per2{
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 25%;
    bottom: 150px;
    left: 38%;
    text-align: center;
    background-color: white;
    color: rgb(139, 139, 139);
    cursor: pointer;
}
#car_range{
display: flex;
width: 60%;
margin: auto;
align-items: center;
justify-content: space-between;
position: relative;
}

#slide{
   display: grid;
   grid-template-rows: repeat(1,0.5fr);
   margin-top: 100px;
    width: 100%;
    height: 600px;
overflow: hidden;

}

#slide>h1{
    width: 50%;
   color: rgb(83, 83, 83);
   text-align: left;
   margin-left: 170px;
   font-size: 36px;
  
}
#slide>h2{
    width: 50%;
   color: #a3a2a2;
    text-align: left;
    margin-left: 170px;
    font-size: 30px;
    margin-bottom: 15px;
 
}
#slide>img{
    display: block;
    width: 100%;
    height: 100%;
   
}


#left,#right{
    width: 10%;
}
#large{
    height: 650px;
    position: relative;
    width: 100%;
    margin-top: 120px;
}
#share{
    text-align: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    color:white;
    top: 30px;
    right: 27%;
     padding: 20px;
}
#large>img{
    height: 650px;
width: 100%;
}
#match{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    height:auto;
}
#mat1,#mat2,#mat3,#mat4,#mat5{
    position: relative;
    height: auto;
    cursor: pointer;
}
#mat1>img,#mat2>img,#mat3>img,#mat4>img,#mat5>img{
  
    height: 500px;
    width: 96%;

} 
 #en1,#en2,#en3,#en4,#en5{
    text-align: left;
    color: white;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
z-index: 10;
left: 20px;
bottom: 25px;
 }
#book{
    height: 650px;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}
#book>img{
height: 650px;
width: 100%;
}

#guest{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}
#hear{
width: 500px;
}
#guesImg{
height: 200px;
width: 200px;
}
#hear>article{
    font-size: 21px;
    color: #666;
}
#free{
    text-align: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    color:white;
    top: 30px;
    right: 37%;
     padding: 20px;

}
#bottom{
    color: white;
    background-color: #383838;
    
}
#bottom2{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#about{
    display: flex;
    justify-content: space-between;
}
#bot1>h3,#bot1>p,#bot1>h4{
    margin-top: 20px;
    text-align: left;
}
#last{
    background-color: #666;
    text-align: left;
}
#last-2{
    width: 90%;
    margin: auto;
    text-align: left;
}
#india-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    color: white;
    margin-bottom: 24px;
    text-align: left;
}
#all-cities{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-row-gap: 24px;
    color: white;
    font-family: "IBM Plex Sans";
    text-align: left;
}
#cities_name{
    text-align: left;
}
#country{
    display: grid;
    grid-template-columns: repeat(4,25%);
    color: white;
    text-align: left;
}
#country-name,#city-name{
    margin-top: 24px;
    text-align: left;
}

#media{
    display: flex;
    width: 40%;
    margin-top: 24px;
    text-align: left;
}
#media>div{
    width: 13%;
}
#insta,#twit,#you{
    width: 40%;
    height:60%;
}
#facebook{
    height: 60%;
    width: 45%;
}
#footer{
    display: grid;
    gap: 24px;
    grid-template-columns: 2fr 3fr;
    text-align: left;
}
#new1{
color: #a3a2a2;
font-size: 70px;
font-weight: 600;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 100px;
   
}
#new2{
display: grid;
grid-template-columns: 1fr 3fr;
color: white;
margin-bottom: 60px;

}
#qr{
    margin-top: 100px;
}
#download{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 100px;
}
#app{
    display: flex;
}
#google,#store{
    border: 0.5px solid white;
    background-color: black;
    border-radius: 5%;
    display: flex;
    height: 32px;
    padding-left: 5px ;
    padding-right: 10px;
    margin-right: 30px;
    padding-top: 3px;
    padding-bottom: 2px;
}
#store img{
    height: 70%;
    width: 100%;
    margin-top: 5px;
    
}
#google img{
height: 70%;
width: 100%;
margin-top: 5px;
}
