#signup{
    width: 20%;
    margin: auto;
    height: auto;
    margin-top: 100px;
}
#images{
    height: 300px;
    margin-left: 20px;
}
#ind{
    display: flex;
    margin-left: 20px;
    border: 1px solid rgb(189, 188, 188);
    padding: 12px;
    margin-bottom: 30px;
}
button{
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    width: 90%;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
    cursor: pointer;
}
#number{
    display: flex;
}
#number>div>img{
    height: 25px;
    width: 26px;
}
#mobile{
   font-size: 18px;
   margin-top: 2px;
}

#blank{
height: 20px;
border: 0.5px solid rgb(189, 188, 188);
margin-right: 4px;
margin-top: 2px;
}

input{
    outline: none;
    border: none transparent;
    font-size: 18px;
}
#enter{
    border: 1px solid rgb(189, 188, 188);
    padding: 12px;
  margin-left: 20px;
  margin-bottom: 30px;
}
